
.ext-btn-flag-dropdown li , .ext-arabic-main-navigation , .ext-arabic-btn-main-holder , .arabic-ins-filter , .ext-arabic-amount-label , .ext-arabic-forex-calculator-child label , .arabic-dataTables_length ,
.arabic-dataTables_filter {
	width:100%;
}

.ext-arabic-minimum-tab , .ext-arabic-minimum-dep-holder , .arabic-dataTables_length select , .ext-arabic-dataTables_filter select , .ext-arabic-dataTables_filter input[type=text] , .added-div-contest , 
.ext-arabic-dataTables_filter-input input[type=search] {
	width:auto!important;
}

.ext-arabic-main-navigation , .ext-arabic-btn-main-holder , .ext-arabic-form-inline , .ext-arabic-minimum-dep-holder , .added-div-contest , .ext-arabic-forex-buttons {
	display:table;
}

.ext-btn-flag-dropdown li {
	display:block;
}

.ext-arabic-raffle-button , .ext-arabic-amount-label {
	display:block!important;
}

.arabic-input-select {
	display:inline-block;
}

.ext-arabic-column-article-header {
	clear:both;
}

.ext-arabic-terms-row {
	margin:0;
}

.ext-arabic-main-navigation , .ext-arabic-forex-buttons {
	margin:0 auto;
}

.ext-arabic-search-link-grid , .ext-arabic-form-inline , .ext-arabic-minimum-dep-holder {
	margin:0 auto!important;
}

.ext-arabic-search-form-inline , .ext-arabic-partners-content label , .ext-arabic-reversed-signin-forgot {
	float:right!important;
 }

.ext-arabic-hidden-main-header , .ext-btn-flag-dropdown li a img , .ext-btn-flag-dropdown li , .ext-arabic-reg-holder li , 
.ext-arabic-navbar-nav , .ext-arabic-navbar-nav li , .ext-arabic-fx-drp-link li a img , .ext-arabic-banner-content , .ext-arabic-feat-check ,
.ext-arabic-btn-main-holder a , .ext-arabic-forex-major-holder , .ext-arabic-benifits-holder , .ext-arabic-footer-menu-holder , .ext-arabic-footer-menu-holder .bot-nav , .ext-arabic-footer-text-parent , 
.ext-arabic-footer-text cite , .ext-arabic-footer-copy , .ext-arabic-first-choice , .ext-arabic-choice-image-holder , .ext-arabic-form-group-right , .ext-arabic-tab-list-holder .dw-tabs li , .ext-arabic-minimum-dep-holder h1 ,
.ext-arabic-img-holder a , .ext-arabic-img-acc-ver-holder , .ext-arabic-account-types , .ext-arabic-demo-accounts , .ext-arabic-control-label , .ext-arabic-form-text , .ext-arabic-btn-signin , .ext-arabic-mt4-img-holder ,
.ext-arabic-ins-tabs ul li , .ext-arabic-bonuses-read-more , .ext-arabic-bonuses-container , .ext-arabic-btn-bottom , .ext-arabic-steps , .ext-arabic-raffle-container , .ext-arabic-raffle-button , .ext-arabic-raffle-mechanics-list ,
.ext-arabic-aff-holder , .ext-arabic-mt4-img-holder , .ext-arabic-advantage-content , .ext-arabic-feat , .ext-arabic-ordered-list , .ext-arabic-mt4-image-holder , .ext-arabic-ins-search-text , .ext-arabic-partner-tabs ul li ,
.ext-arabic-partner-img-holder , .ext-arabic-column-partners , .ext-arabic-contest-title , .ext-arabic-vps-content , .ext-arabic-vps-feats , .ext-arabic-feats-icon , .ext-arabic-feats-text , .ext-arabic-converter-column ,
.ext-arabic-table-header , .ext-arabic-dataTables_length , .ext-arabic-table-footer , .ext-arabic-dataTables_info , .ext-arabic-dataTables_paginate ul li , .ext-arabic-forex-calculator-child , .ext-arabic-content-calculator-child ,
.ext-arabic-moneyfall , .ext-arabic-contest-tab li , .ext-arabic-contest-header , .ext-arabic-contest-footer , .ext-arabic-agg-list-child li span , .ext-arabic-contest-label , .ext-arabic-contest-input , .ext-arabic-contest-input img ,
.ext-arabic-contest-button button , .ext-arabic-swap-free , .ext-arabic-get-started-content , .ext-arabic-contact-block p img , .ext-arabic-cont-info-col , .ext-arabic-contact-item , .ext-arabic-faq , .ext-arabic-glossary-header ,
.ext-arabic-glossary-footer , .ext-arabic-glossary-footer .dataTables_info , .ext-arabic-legal-content , .ext-arabic-callback-content , .ext-arabic-registration-content , .ext-arabic-registration-bottom label , .ext-arabic-registration-bottom .btn-signin ,
.ext-arabic-forex-buttons button , .ext-arabic-captcha-container , .ext-arabic-forex-news , .ext-arabic-forex-news-container h1 , .ext-arabic-nav-tabs li , .ext-arabic-column-article-news h1 , .ext-arabic-column-article-image {
	float:right;
}

.ext-arabic-reg-holder , .ext-arabic-search-nyt , .ext-arabic-banner-img-holder , .ext-arabic-slider-ads , .ext-arabic-connect-container , .ext-arabic-connect-container .connect , .ext-arabic-footer-sec ,
.ext-arabic-footer-social-media , .ext-arabic-second-choice , .ext-arabic-choice-text-holder , .ext-arabic-minimum-tab , .ext-arabic-img-holder i , .ext-arabic-license-text-parent , .ext-arabic-control-input ,
.ext-arabic-btn-submit , .ext-arabic-comm-text-parent , .ext-arabic-second-input-search , .ext-arabic-partner-content-holder , .ext-arabic-first-partner-tab , .ext-arabic-third-input-search , .ext-arabic-contest-btn-holder ,
.ext-arabic-fix-holder , .ext-arabic-chart-return-all-holder , .ext-arabic-chart-return-all-holder a , .ext-arabic-converter-bottom .ext-arabic-form-inline , .ext-arabic-converter-drp .caret-down , .ext-arabic-dataTables_filter ,
.ext-arabic-dataTables_paginate , .ext-arabic-moneyfall a , .added-div-contest , .ext-arabic-moneyfall .btn-contest , .ext-arabic-glossary-footer .pagination , .ext-arabic-offset-buttons-holder , .ext-arabic-reversed-signin-submit {
	float:left!important;
}

.ext-arabic-legal-underline {
	float:none!important;
}

.ext-arabic-legal-underline  {
	clear:both;
}

.ext-arabic-slider-ads-item p {
	right:0;
}

.ext-arabic-navbar-right .dropdown-menu {
	right:auto!important;
}

.ext-arabic-map-title {
	right:20px;
}

.ext-secondary-arabic-menu-button {
	top:-10px!important;
}

.ext-arabic-navbar-right .dropdown-menu {
	left:0!important;
}

.ext-arabic-fix-holder .side-fix {
	position:absolute;
}

.ext-btn-flag-dropdown li , .ext-arabic-fx-drp-sub-holder , .ext-arabic-banner-title , .ext-arabic-banner-text , .ext-arabic-open-text , .ext-arabic-slider-abs-caption ,
.ext-arabic-slider-ads-item p , .ext-arabic-footer-text , .ext-arabic-footer-copy , .ext-arabic-license-title , .ext-arabic-about-sub , .ext-arabic-choice-text-holder h1 ,
.ext-arabic-license-sub , .ext-arabic-form-holder h1 , .ext-arabic-control-label , .ext-arabic-raffle-title , .ext-arabic-raffle-container p , .ext-arabic-raffle-title-sub , .ext-arabic-raffle-mechanics-list li ,
.ext-arabic-ordered-list li , .ext-arabic-ins-tab-text , .ext-arabic-partner-sub , .ext-arabic-ref-reg-holder h1 , .ext-arabic-ref-reg-holder p , .ext-arabic-form-control-placeholder::-webkit-input-placeholder ,
.ext-arabic-vps-title-sub , .ext-arabic-vps-list , .ext-arabic-amount-label , .ext-arabic-cur-details-title , .ext-arabic-cur-details-holder , .ext-arabic-recent-details h1 , .ext-arabic-recent-details p , 
.ext-arabic-dataTable thead tr th , .ext-arabic-forex-calculator-child label , .ext-arabic-content-calculator-holder h1 , .ext-arabic-table-striped thead th , .ext-arabic-contest-footer .dataTables_info , .ext-arabic-agg-header ,
.ext-arabic-contest-req , .ext-arabic-get-started-title , .ext-right-get-started-content h1 , .ext-right-get-started-content p , .ext-arabic-contact-text , .ext-arabic-contact-block p , .ext-arabic-faq-sub , .ext-arabic-legal-content p ,
.ext-arabic-registration-content .red , .ext-arabic-main-list li h4 , .ext-arabic-partners-content .red , .ext-arabic-personal-text-title , .ext-arabic-personal-info-text , input[type=text] , input[type=search] , input[type=email] , 
input[type=password] , .ext-arabic-forex-news-container h1 , .ext-arabic-tab-news-list li , .ext-arabic-column-article-content {
	text-align:right;
}

.ext-arabic-form-control-placeholder::-moz-placeholder {
	text-align:right;
}

.ext-arabic-form-control-placeholder:-ms-input-placeholder {
	text-align:right;
}

.ext-arabic-control-label , .ext-arabic-dl-all , .ext-arabic-contest-btn-holder , .ext-arabic-contest-label , .ext-arabic-swap-free , .ext-arabic-callback-content {
	text-align:left!important;
}

.ext-arabic-dataTable thead tr th:last-child , .ext-arabic-dataTable tr td:last-child {
	text-align:center;
}

.ext-arabic-about-text , .ext-arabic-license-text , .ext-arabic-choice-text-holder p ,  .ext-arabic-withdrawal-tab , .ext-arabic-minimum-tab , .ext-arabic-license-text-parent ,
.ext-arabic-acct-verification-text , .ext-arabic-content-text , .ext-arabic-content-list , .ext-arabic-demo-feats , .ext-arabic-ins-text , .ext-arabic-ins-table , .ext-arabic-ins-foot ,
.ext-arabic-inst-text-sub , .ext-arabic-raffle-text-content , .ext-arabic-raffle-mechanics-list li , .ext-arabic-ordered-list li , .ext-arabic-comm-text-parent p , .ext-arabic-ins-search-text , .ext-arabic-ins-tab-text ,
.ext-arabic-form-control-select-text , .ext-arabic-table-cpa , .ext-arabic-banner-table , .ext-arabic-logos-tab , .ext-arabic-contest-btn-holder , .ext-arabic-vps-list , .ext-arabic-form-group-converter , .ext-arabic-details-tab ,
.ext-arabic-converter-drp , .ext-arabic-dataTables_filter , .ext-arabic-dataTables_length , .ext-arabic-dataTable , .ext-arabic-forex-calculator-child input[type=text] , .ext-arabic-forex-calculator-child select , .ext-arabic-table-striped ,
.ext-arabic-agg-list , .ext-right-get-started-content h1 , .ext-right-get-started-content p , .ext-arabic-qa-holder ul , .ext-arabic-main-list li , .ext-arabic-tab-news-list li {
	direction:rtl;
}

.ext-arabic-raffle-text-clear {
	clear:both;
}

.ext-btn-flag-dropdown li {
	height:30px;
}

.ext-arabic-form-group-right:last-child , .ext-arabic-form-holder h1 , .ext-arabic-reg-holder .ryt li:last-child , .ext-arabic-dataTables_filter input[type=search] , .ext-btn-flag-dropdown li , .ext-arabic-registration-bottom label ,
.ext-arabic-registration-bottom .btn-signin {
	margin-left:0!important;
}

.ext-arabic-forex-buttons button:first-child {
	margin-left:2px;
}

.ext-btn-flag-dropdown li a img , .ext-arabic-fx-drp-link li a img , .ext-arabic-footer-text cite , .ext-arabic-form-group-right , .ext-arabic-demo-feats li i , .ext-arabic-btn-bottom , .ext-arabic-ins-search-text ,
.ext-arabic-contact-block p img {
	margin-left:5px;
}

.ext-arabic-contest-checkbox input[type=checkbox] {
	margin-left:-12px;
}

.ext-arabic-fx-drp-link li a img , .ext-arabic-demo-feats li i , .ext-arabic-ins-search-text {
	margin-right:0;
}

.ext-arabic-forex-buttons button:last-child {
	margin-right:2px;
}

.ext-arabic-dataTables_filter input[type=search] , .arabic-dataTables_filter select {
	margin-right:5px;
}

.ext-arabic-fx-drp-sub-holder , .ext-arabic-input-search , .ext-arabic-third-input-search , .ext-arabic-feats-text , .interbank-form-group {
	margin-right:10px;
}

.ext-arabic-minimum-tab {
	margin-bottom:0;
}

.ext-arabic-column-article-news h1 {
	margin-bottom:5px;
}

.ext-arabic-top-row {
	margin-bottom:20px;
}

.ext-arabic-captcha-container {
	margin-top:0!important;
}

.ext-arabic-contact-info-holder {
	margin-top:150px!important;
}

.ext-arabic-contest-footer .pagination {
	margin:0!important;
}

.ext-btn-flag-dropdown li a {
	line-height:30px;
}

.ext-arabic-contest-footer .dataTables_info {
	line-height:35px;
}

.ext-arabic-reg-holder .ryt li {
	margin-right:0;
	margin-left:10px;
}

.ext-arabic-index-container , .ext-arabic-advantage-no-pad , .ext-arabic-btn-legal , .ext-arabic-registration-bottom {
	padding:0!important;
}

.ext-arabic-acct-verification-text {
	padding:15px;
}

.ext-arabic-search-form {
	padding-left:10px!important;
}

.ext-arabic-fx-drp-link li a img {
	margin-top:1px;
}

.arabic-ins-filter {
	display:table;
	margin-top:50px!important;
	margin-bottom:0!important;
}

.ext-arabic-feat-check {
	margin-top:3px;
	margin-left:5px;
}

.ext-arabic-btn-main-holder {
 	margin-left:0;
 	margin-top:25px!important;
 }

.ext-arabic-open-text {
	margin-top:40px!important;
}

.ext-arabic-search-link-grid {
	position:relative!important;
}

.ext-arabic-form-group-right label {
	line-height:36px;
	margin-bottom:0;
}

.ext-arabic-withdrawal-tab tr:last-child {
	border-bottom:1px solid #ddd;
}

.ext-arabic-minimum-dep-holder {
	border-top:0;
}

.ext-arabic-minimum-dep-holder h1 {
	margin-left:50px;
	margin-top:54px;
}

.ext-arabic-minimum-tab tr td , .ext-arabic-minimum-tab tr th {
	border-left:1px solid #ddd;
}

.ext-arabic-minimum-tab tr td , .ext-arabic-minimum-tab tr th {
	border-right:0!important;
}

.ext-arabic-minimum-tab tr td:last-child , .ext-arabic-minimum-tab tr th:last-child {
	border-left:0!important;
}

.ext-arabic-llink:hover {
	text-decoration:none!important;
}

.ext-arabic-mt4-img-holder img {
	margin:50px auto;
}

.ext-arabic-aff-holder-last {
	clear:both;
}

.ext-arabic-ordered-list {
	width:100%;
	padding:15px;
}

.ext-arabic-ins-search-text {
	line-height:34px;
}

.ext-arabic-fix-holder {
	left:0!important;
	right:none!important;
	position:absolute;
}

.ext-arabic-fix-holder ul li .a-last-child {
	display:inline-block!important;
}

.ext-arabic-fix-holder ul li {
	width:98px!important;
}

.ext-arabic-feats-icon {
	margin-right:0;
}

.ext-arabic-chart-return-all-holder {
	margin-top: -42px;
}

.interbank-form-group select {
	width:115px!important;
}

.ext-arabic-faq-search {
	margin:18px 0;
}

.ext-arabic-btn-legal .btn-dl-pdf {
	margin-left:5px;
}

.ext-arabic-btn-legal .btn-view-details {
	margin-right:5px;
}

.ext-arabic-main-list {
	padding-right: 15px;
    padding-left: 0;
}

.ext-arabic-main-list li ol {
	padding-right: 10px;
    padding-left: 0;
}

/*----- MEDIA QUERIES -----*/

@media screen and (max-width: 1199px) {

	.ext-arabic-hidden-main-header , .ext-arabic-navbar-header , .ext-arabic-search-link-grid {
		width:100%;
	}

	.ext-arabic-logo , .ext-arabic-hidden-main-header , .ext-arabic-navbar-header , 
	.ext-arabic-navbar-brand , .ext-arabic-navbar-right , .ext-arabic-reg-holder , .ext-arabic-navbar-nav , .ext-arabic-cont-info-col {
		float:none!important;
	}

	.ext-arabic-navbar-brand , .ext-arabic-reg-holder , .ext-arabic-choice-image-holder img {
		display:block;
	}

	.ext-arabic-hidden-main-header , .ext-arabic-navbar-header  , .ext-arabic-navbar-right , .ext-arabic-navbar-nav {
		display:table;
	}

	.ext-arabic-logo , .ext-arabic-navbar-right , .ext-arabic-reg-holder , .ext-arabic-navbar-nav , .ext-arabic-choice-image-holder img , .ext-arabic-cont-info-col {
		margin:0 auto!important;
	}

	.ext-arabic-navbar-brand {
		margin-bottom:55px;
	}

	.ext-arabic-reg-holder {
		border-top:1px solid #dadada;
	}

	.ext-arabic-navbar-right {
		padding-top:15px;
	}

	.ext-arabic-banner-img-holder {
		margin-top:140px!important;
	}

	.ext-arabic-feats-text {
		font-size:14px;
	}

}

@media screen and (max-width: 991px) {

	.ext-arabic-reg-holder {
		display:none;
	}

	.ext-arabic-hidden-navbar-right , .ext-arabic-form-text , .ext-arabic-btn-signin , .ext-arabic-btn-submit , .ext-arabic-bonuses-read-more , .ext-arabic-contest-btn-holder , .ext-arabic-chart-return-all-holder a ,
	.ext-arabic-chart-return-all-holder , .ext-arabic-moneyfall .btn-contest {
		display:table;
	}

	.ext-arabic-content-calculator-child label , .ext-arabic-content-calculator-child .content-calculator-example span , .ext-arabic-registration-bottom label , .ext-arabic-registration-bottom .btn-signin {
		display:block;
	}

	.ext-arabic-navbar-brand {
		margin-bottom:35px;
	}

	.ext-arabic-hidden-navbar-right {
		margin-top:0;
	}

	.ext-arabic-moneyfall {
		padding-top:0;
	}

	.ext-arabic-bonuses-holder-text , .added-div-contest , .ext-arabic-registration-bottom {
		margin-top:10px!important;
	}

	.ext-arabic-third-fourth-container {
		margin-top:20px!important;
	}

	.ext-arabic-contact-info-holder {
		margin-top:50px!important;
	}

	.ext-arabic-hidden-navbar-right li {
		margin-right:0!important;
	}

	.ext-secondary-arabic-hidden-navbar-right li:last-child {
		margin-right:10px!important;
	}

	.ext-arabic-hidden-navbar-right li {
		margin-left:10px;
	}

	.ext-arabic-hidden-navbar-right li:last-child {
		margin-left:0!important;
	}

	.ext-arabic-hidden-navbar-right , .ext-arabic-form-group-right , .ext-arabic-demo-accounts , .ext-arabic-form-text , .ext-arabic-btn-signin , .ext-arabic-btn-submit , .ext-arabic-bonuses-read-more , .ext-arabic-chart-return-all-holder a ,
	.ext-arabic-chart-return-all-holder , .ext-arabic-moneyfall .btn-contest , .ext-arabic-cont-info-col , .ext-arabic-registration-bottom .btn-signin {
		margin:0 auto!important;
	}

	.ext-arabic-contest-title , .ext-arabic-contest-btn-holder {
		margin:20px auto!important;
	}

	.ext-arabic-hidden-navbar-right , .ext-arabic-form-group-right , .ext-arabic-demo-accounts , .ext-arabic-form-text , .ext-arabic-btn-signin , .ext-arabic-btn-submit , .ext-arabic-bonuses-read-more , .ext-arabic-contest-title ,
	.ext-arabic-contest-btn-holder , .ext-arabic-chart-return-all-holder a , .ext-arabic-chart-return-all-holder , .ext-arabic-moneyfall .btn-contest , .ext-arabic-cont-info-col , .ext-arabic-registration-bottom label , .ext-arabic-registration-bottom .btn-signin {
		float:none!important;
	}

	.ext-arabic-hidden-navbar-right li , .added-div-contest , .ext-arabic-contest-footer .pagination , .ext-arabic-glossary-footer .pagination , .ext-secondary-arabic-hidden-navbar-right li {
		float:right!important;
	}

	.ext-arabic-banner-holder {
		min-height:435px!important;
	}

	.ext-arabic-connect-container {
		padding:0!important;
	}

	.ext-arabic-form-group-right:first-child {
		margin-right:5px!important;
	}

	.ext-arabic-form-holder h1 , .ext-arabic-license-sub , .ext-arabic-license-title , .ext-right-get-started-content h1 , .ext-right-get-started-content p , .ext-arabic-get-started-title {
		text-align:center;
	}

	.ext-arabic-registration-bottom label {
		text-align:center!important;
	}

	.ext-arabic-license-text , .ext-arabic-license-text {
		text-align:justify;
	}

	.ext-arabic-recent-container:first-child label , .ext-arabic-content-calculator-child label , .ext-arabic-content-calculator-child .content-calculator-example p , .ext-arabic-content-calculator-child .content-calculator-information p  , 
	.ext-arabic-content-calculator-child .content-calculator-example span {
		text-align:right;
	}

	.ext-arabic-mt4-img-holder img {
		margin:10px auto!important;
	}

	.ext-arabic-feat {
		margin:20px auto;
	}

	.ext-arabic-table-responsive-border {
		border:none;
	}

	.ext-arabic-ins-tabs-second li a {
		height:58px;
	}

	.ext-arabic-ins-tabs-second li:first-child a , .ext-arabic-ins-tabs-second li:last-child a {
		line-height:38px;
	}

	.ext-arabic-contest-btn-holder {
		width:auto!important;
	}

 	.ext-arabic-content-calculator-child label , .ext-arabic-content-calculator-child .content-calculator-example span {
 		width:100%!important;
 	}

	.ext-arabic-contest-btn-holder a:nth-child(2) {
		margin:0 5px;
	}

	.ext-arabic-feats-text {
		font-size:10px;
	} 

	.ext-arabic-chart-return-all-holder {
		margin-top:0!important;
		padding-bottom:10px;
	}

	.ext-arabic-recent-container {
		padding:20px 0;
	}

	.ext-arabic-recent-container:first-child {
		border-bottom:1px solid #dadada;
	}

	.ext-arabic-contact-holder {
		background:none!important;
		min-height:auto!important;
	}

}

@media screen and (max-width: 767px) {

	.ext-arabic-main-navigation {
		display:none;
	}

	.ext-arabic-personal-info , .ext-arabic-raffle-button , .ext-arabic-vps-feats , .ext-arabic-contest-checkbox , .ext-arabic-cont-info-col {
		display:table;
	}

	.ext-secondary-arabic-hidden-navbar-right {
		display:table!important;
	}

	.ext-arabic-contest-header , .ext-arabic-contest-label {
		display:block;
	}

	.ext-arabic-swap-free {
		width:auto!important;
	}

	.ext-arabic-contest-swap {
		width:5%!important;
	}

	.ext-arabic-bansner-content , .ext-arabic-feat-check , .ext-arabic-btn-main-holder , .ext-arabic-btn-main-holder a , .ext-arabic-forex-major-holder , 
	.ext-arabic-footer-sec , .ext-arabic-choice-image-holder , .ext-arabic-minimum-dep-holder h1 , .ext-arabic-img-acc-ver-holder , .ext-arabic-steps , .ext-arabic-raffle-button ,
	.ext-arabic-raffle-mechanics-list , .ext-arabic-vps-content , .ext-arabic-vps-feats , .ext-arabic-second-form-inline , .ext-arabic-contest-header , .ext-secondary-arabic-hidden-navbar-right ,
	.ext-secondary-arabic-hidden-reg-holder {
		float:none!important;
	}

	.ext-arabic-hidden-navbar-right , .ext-arabic-hidden-reg-holder , .ext-arabic-accordion-heading .glyphicon , .ext-arabic-connect-container  {
		float:left!important;
	}

	.ext-arabic-menu-button , .ext-arabic-accordion-inner ul li img , .ext-arabic-footer-menu-holder , .ext-arabic-dataTables_paginate , .ext-arabic-contest-req , .ext-arabic-swap-free ,
	.ext-arabic-div-glossary input[type=search] , .ext-secondary-arabic-menu-button {
		float:right!important;
	}

	.ext-arabic-hidden-reg-holder {
		margin:10px 0;
	}

	.ext-arabic-hidden-navbar-right li:nth-child(4) , .ext-arabic-banner-title , .ext-arabic-open-text {
		margin-left:0!important;
	}

	.ext-arabic-accordion-inner ul li img {
		margin-left:7px;
	}

	.ext-arabic-accordion-inner ul li img , .arabic-dataTables_filter select , .ext-secondary-arabic-hidden-navbar-right li:first-child {
		margin-right:0;
	}

	.ext-arabic-form-group-right:first-child {
		margin-right:0!important;
		margin-bottom:5px!important;
	}

	.ext-arabic-footer-sec {
		clear:both!important;
	}

	.ext-arabic-footer-text-parent {
		margin-bottom:50px!important;
	}

	.ext-arabic-btn-switch-holder {
		margin-top:0!important;
	}

	.ext-arabic-dataTables_paginate {
		margin-top:10px!important;
	}

	.ext-arabic-banner-content {
		margin-top:82px!important;
	}

	.ext-arabic-banner-content , .ext-arabic-btn-main-holder a , .ext-arabic-footer-copy p , .ext-arabic-footer-sec , .ext-arabic-choice-image-holder , .ext-arabic-img-acc-ver-holder ,
	.ext-arabic-personal-img-holder img , .ext-arabic-personal-info , .ext-arabic-raffle-button , .ext-arabic-raffle-mechanics-list , .ext-arabic-vps-content , .ext-arabic-second-form-inline  {
		margin:0 auto;
	}

	.ext-secondary-arabic-hidden-navbar-right {
		margin:0 auto!important;
	}

	.ext-arabic-cont-info-col .cont-info {
		margin:20px auto!important;
	}

	.ext-arabic-btn-main-holder , .ext-arabic-minimum-dep-holder h1 , .ext-arabic-vps-content img {
		margin:20px auto!important;
	}

	.ext-arabic-steps {
		margin:40px auto!important;
	}

	.ext-arabic-menu-button , .ext-arabic-footer-toggle , .ext-secondary-arabic-menu-button {
		right:0;
	}

	.ext-btn-flag-dropdown {
		left:0!important;
	}

	.ext-arabic-banner-title , .ext-arabic-banner-text , .ext-arabic-open-text , .ext-arabic-footer-copy p , .ext-arabic-choice-text-holder p , .ext-arabic-choice-text-holder h1 ,
	.ext-arabic-license-title , .ext-arabic-raffle-title , .ext-arabic-raffle-container p , .ext-arabic-legal-content p {
		text-align:center;
	}

	.ext-arabic-accordion-heading a , .ext-arabic-accordion-inner , .ext-arabic-hide-menu ul li a {
		text-align:right;
	}

	.ext-arabic-dataTables_filter label , .ext-arabic-dataTables_length , .ext-arabic-contest-label , .ext-arabic-swap-free , .ext-arabic-callback-label , .ext-arabic-registration-content {
		text-align:right!important;
	}

	.ext-arabic-footer-text , .ext-arabic-license-text-parent {
		text-align:justify;
	}

	.ext-arabic-forex-major-holder , .ext-arabic-dataTables_filter , .ext-arabic-dataTables_filter label {
		width:100%;
	}

	.ext-arabic-minimum-tab , .ext-arabic-second-form-inline , .ext-arabic-contest-header , .ext-arabic-contest-label {
		width:100%!important;
	}

	.ext-arabic-personal-info {
		width:auto!important;
	}

	.ext-arabic-footer-container {
		width:98%!important;
		padding:10px!important;
	}

	.ext-arabic-footer-copy p {
		margin-bottom:20px;
	}

	.ext-arabic-footer-toggle {
		position:relative;
		margin-right:7px;
	}

	.ext-arabic-contest-checkbox {
		margin-top:0;
	}

	.ext-arabic-hide-menu {
		margin-top:45px;
	}

	.ext-arabic-raffle-mechanics-list {
		padding:15px!important;
	}

	.ext-arabic-contest-req {
		padding:0 15px!important;
	}

	.ext-arabic-raffle-mechanics-list li {
		margin-right:15px;
	}

	.ext-arabic-feats-text {
		font-size:14px;
	}

	.ext-arabic-vps-feats {
		margin: 10px auto;
		width:308px!important;
	}

	.ext-arabic-icon-feats {
		margin-top:0!important;
	}

	.ext-arabic-fix-holder ul li {
		width:69px!important;
	}

	.interbank-form-group , .ext-arabic-dataTables_filter input[type=search] {
		margin-right:0;
	}	

	.interbank-form-group select {
		width:100%!important;
	}

	.ext-arabic-form-group-contest {
		margin-bottom:0!important;
	}

	.ext-arabic-contest-input img {
		margin-bottom:10px!important;
	}

	.ext-arabic-converter-bottom {
		margin-bottom:20px!important;
	}

	.ext-arabic-recent-container {
		padding:20px 15px!important;
	}

	.ext-arabic-dataTables_length {
		margin-bottom:15px!important;
	}

	.ext-arabic-contest-checkbox {
		padding-top:0!important;
	}

	.ext-arabic-btn-legal {
		padding:1px 15px!important;
	}

	.ext-arabic-btn-legal .btn-dl-pdf {
		margin-left:0!important;
	}

	.ext-arabic-btn-legal .btn-view-details {
		margin-right:0!important;
	}

	.ext-secondary-arabic-hidden-navbar-right li:last-child {
	    display: block!important;
	}

}

@media screen and (max-width:761px) {

	.ext-arabic-ins-tabs-second li:last-child a {
		line-height:20px;
	}

}

@media screen and (max-width:759px) {

	.ext-arabic-ins-tabs-second li:first-child a {
		line-height:20px;
	}

}

@media screen and (max-width:626px) {

	.ext-arabic-cyprus {
		left:8%!important;
	}

}

@media screen and (max-width: 619px) {

	.ext-arabic-banner-img-holder {
		margin-top:100px!important;
	}

	.ext-arabic-banner-content {
		margin-top:80px!important;
	}

	.ext-arabic-banner-title {
		margin-top:0!important;
		font-size:25px;
	}

}

@media screen and (max-width: 600px) {

	.ext-arabic-contact-item {
		float:none!important;
		margin:0 auto!important;
		margin-bottom:20px!important;
		padding:0!important;
	}
	div#nav:lang(sa){
		padding-left: 10px;
		padding-right: 10px;
	}

}

@media screen and (max-width: 558px) {

	.ext-arabic-ins-tabs-second li {
		float:none!important;
		margin-bottom:2px;
	}

	.ext-arabic-ins-tabs-second li , .ext-arabic-ins-tabs-second li a {
		width:100%!important;
		display:block;
	}

	.ext-arabic-ins-tabs-second li a {
		height:auto!important;
	}

}

@media screen and (max-width: 554px) {


	/*.ext-arabic-hidden-navbar-right li:first-child , .ext-arabic-hidden-navbar-right li:nth-child(2) , .ext-arabic-hidden-navbar-right li:nth-child(3) {
		display:none;
	}*/

	.ext-secondary-arabic-hidden-navbar-right , .ext-arabic-hidden-reg-holder {
		float:right!important;
	}

	.ext-secondary-arabic-hidden-navbar-right li:last-child {
		margin-right:0!important;
	}

	.ext-arabic-hidden-reg-holder {
		margin-left:5px;
	}

	.ext-arabic-hidden-navbar-right .dropdown-menu , .ext-secondary-arabic-hidden-navbar-right .dropdown-menu {
		right:0!important;
		left:auto!important;
	}

	.ext-secondary-arabic-menu-button {
		top:-4.5px!important;
		margin-right:5px;
	}

}

@media screen and (max-width: 546px) {

	.ext-secondary-arabic-ins-tabs li a {
		height:58px!important;
	}

	.ext-secondary-arabic-ins-tabs li:first-child , .ext-secondary-arabic-ins-tabs li:nth-child(3) , .ext-secondary-arabic-ins-tabs li:last-child {
		line-height:45px!important;
	}

}

@media screen and (max-width: 537px) {

	.ext-arabic-hidden-main-header {
		padding-bottom:50px;
	}

}

@media screen and (max-width: 500px) {

	.ext-arabic-hidden-main-header {
		padding-bottom:40px;
	}

}

@media screen and (max-width: 492px) {

	.ext-arabic-forex-buttons button {
		float:none!important;	
		display:block;
		margin:5px auto!important;
	}

}

@media screen and (max-width: 480px) {

	.ext-arabic-hidden-main-header {
		padding-bottom:30px;
	}

}

@media screen and (max-width: 471px) {

	.ext-secondary-arabic-ins-tabs li {
		width:100%!important;
		display:block!important;
		float:none!important;
		margin:2px auto!important;
	}

	.ext-secondary-arabic-ins-tabs li a {
		height:auto!important;
	}

	.ext-secondary-arabic-ins-tabs li:first-child , .ext-secondary-arabic-ins-tabs li:nth-child(3) , .ext-secondary-arabic-ins-tabs li:last-child {
		line-height:18px!important;
	}

}

@media screen and (max-width: 467px) {

	.ext-arabic-footer-row {
		margin:0!important;
	}

}

@media screen and (max-width: 459px) {

	.ext-arabic-cyprus {
		left:2%!important;
	}

}

@media screen and (max-width: 455px) {

	.ext-arabic-recent-details {
		overflow-x:scroll;
	}

	.ext-arabic-details-tab {
		width:403px!important;
	}

}

@media screen and (max-width:435px) {

	.ext-arabic-form-group-right label {
		line-height:18px;
		margin-top:20px;
	}

}

@media screen and (max-width: 421px) {

	.ext-arabic-ins-tabs ul li {
		width:100%!important;
		float:none!important;
		display:block!important;
		border-bottom:2px solid #fff;
	}

}

@media screen and (max-width: 420px) {

	.ext-arabic-hidden-main-header {
		padding-bottom:30px!important;
	}

}

@media screen and (max-width: 417px) {

	.ext-arabic-footer-copy , .ext-arabic-footer-social-media {
		float:none!important;
		margin:0 auto!important;
	}

}

@media screen and (max-width: 415px) {

	.ext-arabic-hidden-main-header {
		padding-bottom:10px!important;
	}
	.ext-arabic-hidden-main-header:lang(sa) {
		padding-bottom:30px!important;
	}

	.ext-arabic-navbar-brand img {
		margin:10px auto!important;
	}

	.ext-arabic-agg-list {
		padding:0;
	}

	.ext-arabic-agg-list-child {
		padding:0 15px;
	}

}

@media screen and (max-width: 403px) {

	.arabic-dataTables_filter select {
		margin-bottom:5px;
	}

}

@media screen and (max-width: 390px) {

	.ext-arabic-column-article-image {
		float:none!important;
		margin:25px auto!important;
		width:87px;
		height:87px;
		display:block;
	}

	.ext-arabic-column-article-content {
		clear:none;
		margin-top:20px!important;
		text-align:center!important;
	}

}

@media screen and (max-width: 375px) {

	.ext-arabic-contact-item {
		margin-bottom:0!important;
		width: 100%!important;
    	padding: 15px!important;
	}

	.ext-arabic-cont-info-col .cont-info {
		width:auto!important;
		margin:0 auto!important;
	}

	.ext-arabic-contact-info-holder {
		margin-top:20px!important;
	}

}

@media screen and (max-width: 374px) {

	.ext-arabic-reversed-signin-forgot , .ext-arabic-reversed-signin-submit {
		margin:0 auto!important;
		/*float:none!important;*/
		text-align:center;
	}

	.ext-arabic-forex-buttons button {
		width:100%!important;
		padding:7px;
	}

}

@media screen and (max-width: 366px) {

	.ext-arabic-contest-tab li {
		width:100%;
		display:block;
		float:none;
		margin-bottom:1px;
	}

}

@media screen and (max-width: 355px) {

	.ext-arabic-banner-img-holder {
		margin-top:50px!important;
	}

}

@media screen and (max-width: 349px) {

	.ext-arabic-banner-content {
		margin-top:50px!important;
	}

	.ext-arabic-banner-img-holder {
		margin-top:80px!important;
	}

	.ext-arabic-slider-abs-caption h3 {
		text-align:center!important;
	}

	.ext-arabic-slider-ads-item p {
		right:0!important;
		left:0!important;
		margin:0 auto!important;
		text-align:center!important;
	}

}

@media screen and (max-width: 320px) {

	.ext-arabic-cyprus {
		bottom:-40%!important;
		left:2%!important;
	}

}

@media screen and (max-width: 305px) {

	.ext-arabic-queue-tab-list li {
		width:100%;
		float:none;
		display:block;
		text-align:center;
	}

}

@media screen and (max-width:324px) {

	.ext-arabic-vps-feats {
		width:100%!important;
	}

	.ext-arabic-feats-text {
		font-size:12px!important;
	}

}

@media screen and (max-width: 296px) {
	
	.ext-arabic-banner-title {
		font-size:20px;
	}

	.ext-arabic-form-group-right button , .ext-arabic-live-account-type {
		width:230px!important;
	}

}

@media screen and (max-width:292px) {

	.ext-arabic-feats-text {
		font-size:10.5px!important;
	}

}

@media screen and (max-width: 284px) {

	.ext-arabic-footer-toggle {
		margin-right:5px!important;
	}

}

@media screen and (max-width: 279px) {
	.ext-arabic-chart-return-all-holder a {
		text-align:center!important;
	}

}

@media screen and (max-width: 277px) {

	.ext-arabic-player-name h1 {
		font-size:25px;
		margin-top:4px;
	}

}

/*----- MODAL ARABIC DESIGNS -----*/

.ext-arabic-popheader , .ext-arabic-child-popfooter {
	display:table;
}

.ext-arabic-popheader , .ext-arabic-popfooter {
	width:100%;
}

.ext-arabic-popheader img , .ext-arabic-feedback-category label , .ext-arabic-popfooter .btn-default {
	float:right;
}

.ext-arabic-popheader button , .ext-arabic-popfooter .btn-primary {
	float:left;
}

.ext-arabic-feedback-line {
	text-align:right;
}

.ext-arabic-feedback-category label {
	text-align:right!important;
}

.ext-arabic-feedback-scale-holder table {
	direction:rtl;
}

.ext-arabic-popfooter .btn-primary {
	margin-left:0!important;
}

.ext-arabic-popfooter .btn-default {
	margin-left:5px;
}

@media screen and (max-width: 767px) {

	.ext-arabic-feedback-category label {
		float:right!important;
		line-height:34px;
	}

	.ext-arabic-popfooter .btn-default {
		float:right;
	}

	.ext-arabic-popfooter {
		display:table;
	}

}

@media screen and (max-width: 435px) {

	.ext-arabic-feedback-category label {
		display:block!important;
		float:none!important;
		margin-bottom:0!important;
	}

}

@media screen and (max-width: 294px) {

	.ext-arabic-popfooter .btn {
		margin:7px auto!important;
		float:none!important;
		display:block;
	}

	.ext-arabic-child-popfooter {
		margin:0 auto!important;
	}

}