.drp{
    &-custom{
        .nav-link{
            color: $base-color;
            height: 65px;
        }
        .dropdown-menu{
            left: inherit !important;
            right: -6px;
            top: 63px!important;
            transform: none!important;
            padding: 0;
            background:#e2e7e8;
            border: 0;
            border-radius: 0;
            .dropdown-item{
                font-size: 14px;
                padding: 15px;
                border-bottom: 1px solid #0000000d;
                display: flex;
                align-items: center;
                border-radius: 0;
                span{
                    margin-right: 8px;
                }
            }
        }
    }
}