.lbl{
    padding: 4px 8px;
    border-radius:4px;
    font-size: 13px;
    margin: 0 8px;
    font-weight: 500;
    letter-spacing: normal;
    display: inline-block;
    @media screen and (max-width:$mobile-width){
         margin: 0;
         display: block;   
    }
    &--default{
        color: $base-color;
        background-color:$lbl-default;
        
    }
}
