/*-----Designer CSS CODE START 
ADDED STYLES (10/18/2017) -----*/
.sub-IB-title{
	font-family: 'Georgia';
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 20px;
}
.sub-IB-wrapper{
	display: block;
	padding-left: 20px;
}

.sub-IB-wrapper h5{
	font-size: 14px;
	font-weight: 600;
}
.sub-IB-wrapper h4{
	color:red;
	font-size: 15px;
	font-weight: 600;
}
.sub-IB-wrapper th{
	text-align: center;
}
 /*-----Designer CSS CODE END -----*/