#fee_ba:focus{outline:none!important;}.footer-menu-holder{padding-left:0px;}


.footer-menu-holder:lang(fr){
    width: 55% !important;
}

.CUFB:lang(fr){
    width: 45% !important;
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
    .footer-menu-holder:lang(fr) {
        width: 64% !important;
    }

    .CUFB:lang(fr) {
        width: 34% !important;
    }
}

   .con-num:hover{
       text-decoration: none !important;
   }
    @media screen and (max-width: 767px) {
        .pad-l {
            margin-left: 16px;
        }
        .footer-hide-menu ul li{
            margin-left: 9px;
        }
        .mar-t{
            margin-top: 40px;
            display: none;
        }
        .mar-t ul li {
            list-style: none;
            text-decoration: none;
            color: #fff;
            margin-left: -30px;
        }
        .mar-t ul li:hover {
            text-decoration:underline;
        }
        .mar-t ul li a {
            color: #fff;
            font-family: Open Sans;
            font-size: 13px;
            padding: 7px;
            font-weight: 300;
            display: block;
            margin-left: 0;
        }
        .mar-r{
            margin-bottom: 4px;
        }
    }
    .mar-t{
        margin-top: 40px;
        display: none;
    }
    .mar-t ul li {
        list-style: none;
        text-decoration: none;
        color: #fff;
        margin-left: -30px;
    }
    .mar-t ul li:hover {
        text-decoration:underline;
    }
    .mar-t ul li a {
        color: #fff;
        font-family: Open Sans;
        font-size: 13px;
        padding: 7px;
        font-weight: 300;
        display: block;
        margin-left: 0;
        float: left;
        width: 100%;
    }

    @media screen and (max-width: 360px) {
        .connect li a:lang(ru) {
            padding: 9px !important;
        }
    }
    @media screen and (max-width: 320px) {
        .connect li a i:lang(ru) {
            font-size: 11px;
        }
        .bul_lst2:lang(ru) {
            font-size: 12px;
            padding-top: 3px;
        }
        .customfeedback4190:lang(ru) {
            width: 23px;
            height: 23px;
        }
/*        .connect li a img:lang(ru) {
            width: 14px;
        }*/
        .spn-4190:lang(ru) {
            padding-top: 0 !important;
        }

    }

    /*@media screen and (max-width: 389px) {*/
    /*.mar-r{*/
    /*margin-right: -1px;*/

    /*}*/
    /*}*/
@media only screen and ( min-width:270px) and (max-width: 418px){
    .custome-min-width,.custome-min-width-2,.custome-min-width-3{
        min-width: 200px !important;
        margin-top: -15px !important;

    }
    .custome-min-width-3{
        min-width: 200px !important;
        margin-top: -12px !important;
    }

    #con_us{
        padding-top: 5px !important;
    }
    .bul_lst2 {
        margin: 0 0 0px !important;
    }
    /*.connect li a{*/
    /*min-width: 176px !important;*/
    /*float: right !important;*/
    /*}*/
    /*.connect li{*/
    /*float: right !important;*/
    /*}*/
}

@media only screen and ( min-width:412px) and (max-width: 630px){
    .custome-min-width,.custome-min-width-2,.custome-min-width-3{
        min-width: 300px !important;
        margin-top: -15px !important;

    }
    .custome-min-width-3{
        min-width: 300px !important;
        margin-top: -12px !important;
    }

    #con_us{
        padding-top: 5px !important;
    }
    .bul_lst2 {
        margin: 0 0 0px !important;
    }
}
@media only screen and ( min-width:631px) and (max-width: 766px){
    .custome-min-width,.custome-min-width-2,.custome-min-width-3{
        min-width: 300px !important;
        margin-top: -15px !important;

    }
    .custome-min-width-3{
        min-width: 300px !important;
        margin-top: -12px !important;
    }

    #con_us{
        padding-top: 5px !important;
    }
    .connect {
        float: initial !important;
        list-style: outside none none;
        margin: 0 0 0 0px !important;
        padding: 0;
        width: 200px;
    }
    .CUFB {
        float: left !important;
        width: 100% !important;
    }
    .bul_lst2 {
        margin: 0 0 0px !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 998px) {
    /*#botnav_right{*/
    /*width: 30% !important;*/
    /*}*/
    /*#botnav_left{*/
    /*width: 70% !important;*/
    /*}*/
    .ext-arabic-footer-menu-holder{
        margin-top: 33px;
    }
    .custome-min-width,.custome-min-width-2,.custome-min-width-3{
        min-width:200px !important;
    }
    #fee_ba{
        margin-top: -15px !important;
    }

    #con_us{
        padding-top: 10px !important;
        margin-top: -23px !important;
    }

    .connect li .a1,.connect li .a2{
        min-width: 167px !important;
        float: none !important;
    }

    .connect li .a3{
        min-width: 162px !important;
        float: none !important;
        margin-left: 0px;
    }

    .connect li{
        float: none !important;
    }

    .bot-nav-left-wide{
        width: 65% !important;
    }

    .bot-nav-right-wide {
        width: 30% !important;
    }

    .img-4190{
        margin-right: 5px!important;
    }

    .bot-nav li a:lang(fr){
        padding: 15px 0px !important;
        font-size: 11px;
    }

}

.bot-nav li a{padding:15px 6px}.trademart{margin-bottom:3px;padding:0!important}.CUFB{float:right!important}.CUFB:lang(sa){float:left!important}.mar0pad0{margin:0;padding:0}.mar50{margin:5px 0}.mar0{margin:0}.mar0500{margin:0 5px 0 0}#fee_ba:lang(es){font-size:12px}#con_us:lang(es){font-size:12px}#fee_ba:lang(de){font-size:12px}#con_us:lang(de){font-size:12px}.foot-bullet{float:left}.bul_lst2{min-width: 130px !important; padding-left:.1em;text-indent:.1em;padding-top:6px}@media screen and (min-width: 768px){.footer-hide-menu{display:none}.footer-hide-menu:lang(id){display:none!important}}p.pw{color:white!important}@media screen and (min-width: 1175px){.footer-hide-menu:lang(id){display:none!important}.footer-toggle:lang(id){display:none!important}.bot-nav:lang(id){display:block!important}}@media screen and (max-width: 1174px){.bot-nav:lang(id{display:none!important}.ver-line:lang(id){padding:15px 0!important}.bot-nav li a:lang(id){padding:15px 0!important}}@media screen and (min-width: 1175px){.footer-hide-menu:lang(it){display:none!important}.footer-toggle:lang(it){display:none!important}.bot-nav:lang(it){display:block!important}}@media screen and (max-width: 1174px){.footer-toggle:lang(it){display:block!important}.bot-nav:lang(it){display:none!important}.ver-line:lang(it){padding:15px 0!important}.bot-nav li a:lang(it){padding:15px 0!important}}@media screen and (min-width: 1175px){.footer-hide-menu:lang(de){display:none!important}.footer-toggle:lang(de){display:none!important}.bot-nav:lang(de){display:block!important}}@media screen and (max-width: 1174px){.footer-toggle:lang(de){display:block!important}.bot-nav:lang(de){display:none!important}.ver-line:lang(de){padding:15px 0!important}.bot-nav li a:lang(de){padding:15px 0!important}}@media screen and (min-width: 1175px){.footer-hide-menu:lang(es){display:none!important}.footer-toggle:lang(es){display:none!important}.bot-nav:lang(es){display:block!important}}@media screen and (max-width: 1174px){.footer-toggle:lang(es){display:block!important}.bot-nav:lang(es){display:none!important}.ver-line:lang(es){padding:15px 0!important}.bot-nav li a:lang(es){padding:15px 0!important}}@media screen and (min-width: 1175px){.footer-hide-menu:lang(pt){display:none!important}.footer-toggle:lang(pt){display:none!important}.bot-nav:lang(pt){display:block!important}}@media screen and (max-width: 1174px){.footer-toggle:lang(pt){display:block!important}.bot-nav:lang(pt){display:none!important}.ver-line:lang(pt){padding:15px 0!important}.bot-nav li a:lang(pt){padding:15px 0!important}}.ver-line:lang(bg){padding:15px 2px}
.uk-flag-img{
    margin-right: 0px !important;
}

@media only screen and (max-width: 766px) {
    .ext-arabic-footer-menu-holder{
        margin-top: 35px;
    }
    .spn-4190{
        padding-left: 3px;
    }
    .pp{
        padding-left: 5px;
    }
    .img-uk{
        margin-left: -4px;
    }
    .mar-r{
        margin-left: 7px;
    }
}
@media only screen and (min-width: 1024px){

    .connect li a {
        padding: 10px 10px 0px 10px !important;
    }
    .bul_lst2_p{
        padding-top: 0px !important;
    }

}
.con-num:hover{
    text-decoration: none !important;
}

p.pp{
    padding-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 700px){
    .ext-arabic-footer-menu-holder {
        margin-top: 6px !important;
    }
    .bot-nav-holder>.container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mar-r {
        margin-left: 0px !important;
    }
}

      .customfeedback4190{
                                width: 28px;
                                height: 28px;
                                border-radius: 20px;
                                background: #fff;
                                padding: 6px;
                                margin: 0 0px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .customfeedback4190-2{
                                display:block; margin:0 auto;
                            }
                            .img-4190{
                                margin-right: 0px!important;
                            }
                            .spn-4190{text-decoration: none;}
